.red {
    fill: red; 
}

.image {
    width: 200px;
    margin: auto;
    border: 3px solid #73AD21;
}

.modal-footer {
    border-top: none !important;
    
}

.modal-header-style {
    background-color:#B7212D; 
    color: white; 
    margin-bottom:10px;
}

.leftRightPadding {
    padding-left: 10px ; 
    padding-right: 10px;
}

.fiveLeftRightPadding {
    padding-left: 5px !important; 
    padding-right: 5px !important;
}

.buttonStyle {
    background-color:#7F1720; 
    color:white; 
    font-weight: bold;
/*    white-space: pre-wrap !important;*/
    
}

.buttonStyle:hover {
    background-color: darkgoldenrod;
}

.findBtn {
    background-color:#7F1720; 
    color:white; 
    white-space: normal !important;   
}

.findBtn:hover {
    background-color: darkgoldenrod;
}

.vendorArea {
    padding-top:15px; 
/*    background-color:brown; */
      background-image:
    linear-gradient(
        brown, orange
    );
    min-height: 130px !important;
    padding-right: 5px !important;
    padding-left: 5px !important; 
}

.mapArea {
    padding-top:10px; 
    padding-bottom:10px; 
    background-color:#B5782B !important;
}

.findBtn:focus {
  outline: none !important;
    color: white !important;
    text-decoration: none !important;
}

.tableColumn {
    word-wrap: break-word;
max-width: 25px;
}

.tableColumnWishlist {
    word-wrap: break-word;
max-width: 35px;
}

.drinkModalStyle {
    background-color:#7F1720; 
    color:white; 
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.drinkModalStyle:hover {
    background-color: darkgoldenrod;
}